* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*------------------------------------------------*/

footer {
    color: gray;
    font-size: 10px;
    line-height: 20px;
    margin: 40px 10px;
}
footer a {
    color: #0088CC;
}
footer ul {
    margin: 10px 0;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
}
footer li {
    padding: 0 10px;
}

/*-----------------------------------------------------------*/

.promo a {
    display: flex;
}
.promo img {
    width: 100%;
}

/*-----------------------------------------------------------*/

.hero {
    background-image: url("images/hero.jpg");
    background-position: 50% bottom;
    background-size: cover;
    color: #fff;
    padding-bottom: 50px;
    font-size: 16px;
}
.hero h1 {
    font-size: 2.8em;
    font-weight: normal;
    text-align: center;
    margin: 30px 10px;
}
.hero p {
    font-size: 1.3em;
    margin: 20px;
}
.hero a {
    display: block;
    font-size: 1em;
    margin: 20px;
}

/*----------------------------------------------------------*/
.hero {
    padding-top: 20px;
}
.hero ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 35px);
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}
.hero li {
    background-image: linear-gradient(#8c8c8c 0%, #5f5f5f 55%, #7a7a7a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero li:nth-of-type(1),
.hero li:nth-of-type(2),
.hero li:nth-of-type(4),
.hero li:nth-of-type(5),
.hero li:nth-of-type(7),
.hero li:nth-of-type(8) {
    border-right: 1px solid #888;
}
.hero li:nth-of-type(1) {
    border-top-left-radius: 5px;
}
.hero li:nth-of-type(3) {
    border-top-right-radius: 5px;
}
.hero li:nth-of-type(7) {
    border-bottom-left-radius: 5px;
}
.hero li:nth-of-type(9) {
    border-bottom-right-radius: 5px;
}
.hero li:first-of-type i {
    font-size: 16px;
}
.hero input {
    width: 120px;
    height: 23px;
    border-radius: 10px;
    border: 1px inset #8c8c8c;
    outline: none;
    background-image: linear-gradient(#8c8c8c 0%, #5f5f5f 55%, #7a7a7a 100%);
}
.hero li:last-of-type span {
    position: relative;
    margin: 0 10px;
}
.hero li:last-of-type i {
    position: absolute;
    top: 6px;
    left: 7px;
}

/*-----------------------------------------------------------*/

@media screen and (min-width: 600px) {
    footer li {
        border-right: 1px solid lightgray;
    }
    footer li:last-of-type {
        border-right: none;
    }
    footer p {
        text-align: center;
    }
    footer ul {
        display: flex;
        justify-content: center;
    }
    .promo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hero {
        font-size: 18px;
        text-align: center;
        padding-top: 50px;
    }
    .hero ul {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 35px);
    }
    .hero li:last-of-type {
        grid-column: 4/6;
    }
    .hero li:nth-of-type(3) {
        border-right: 1px solid #888;
        border-top-right-radius: 0; 
    }
    .hero li:nth-of-type(5) {
        border-top-right-radius: 5px; 
    }
    .hero li:nth-of-type(6) {
        border-right: 1px solid #888;
        border-bottom-left-radius: 5px; 
    }
    .hero li:nth-of-type(7) {
        border-bottom-left-radius: 0; 
    }
}

    
@media screen and (min-width: 1100px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1100px;
        margin: 40px auto;
    }
    footer ul {
        margin: 0 0 0 30px;
    }
    .promo {
        grid-template-columns: repeat(4, 1fr);
    }
    .hero {
        font-size: 22px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .hero h1 {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .hero p {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero ul {
        max-width: 1000px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 35px;
        font-size: 14px;
    }
    .hero li:last-of-type {
        grid-column: 9/11;
    }
    .hero li:nth-of-type(1) {
        border-bottom-left-radius: 5px; 
    }
    .hero li:nth-of-type(5) {
        border-top-right-radius: 0; 
    }
    .hero li:nth-of-type(6) {
        border-bottom-left-radius: 0; 
    }
    .hero li:nth-of-type(9) {
        border-top-right-radius: 5px; 
    }
}
